/* EDIT FIELD */
.edit-field {
    -moz-transition: border 1s;
    transition: border 1s;
    border: 0px solid red !important;
}
.edit-field.invalid {
    border: 6px solid red !important;
}

/* TOOLBAR */
.toolbar {
    border: 1px solid #aaa;
    border-top: 5px solid black;
    margin: 0 !important;
    background: white;
    width: 40px;
    height: 280px;
    margin-left: -47px !important; /*width + 7px*/
    margin-bottom: -280px !important; /*height*/
}
.toolbar button {
    display: block;
    background: white;
    width: 100%;
    border: none;
    margin: 2px 0;
    font-size: 0.8em;
    height: 30px;
}

/* LEFT HAND SIDE */
.saving-status {
    position: fixed;
    top: 41px; /*header height + header border width*/
    left: 0;
    background: rgb(230,230,230);
    padding: 15px;
    margin: 0;
    margin-top: 0 !important;
    font-size: 1em !important;
    z-index: 100;
}
.saving-status:after {
    content: 'No changes made';
}
.saving-status:before {
    content: ' ';
    background: rgb(230,230,230);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6px;
}
.saving-status.modified {
    content: 'Content modified';
    background: #F5B469;
}
.saving-status.modified:after {
    content: 'Content modified';
}
.saving-status.modified:before {
    background: #F5B469;
}
.saving-status.saving {
    background: #EB9D44;
}
.saving-status.saving:after {
    content: 'Saving...';
}
.saving-status.saving:before {
    background: #EB9D44;
}
.saving-status.publishing {
    background: #7EF282;
}
.saving-status.publishing:after {
    content: 'Publishing...';
    color: white;
}
.saving-status.publishing:before {
    background: #7EF282;
}
.saving-status.saved, .saving-status.published {
    background: #55B867;
}
.saving-status.saved:after {
    content: 'Succesfully saved!';
    color: white;
}
.saving-status.published:after {
    content: 'Succesfully published!';
    color: white;
}
.saving-status.saved:before, .saving-status.published:before {
    background: #55B867;
}
.saving-status.not-saved, .saving-status.not-published {
    background: #D10000;
}
.saving-status.not-saved:after {
    content: 'Saving failed :(';
    color: white;
}
.saving-status.not-published:after {
    content: 'Publishing failed :(';
    color: white;
}
.saving-status.not-saved:before, .saving-status.not-published:before {
    background: #D10000;
}

.publish-button, .settings-button {
    position: fixed;
    left: 6px;
    font-size: 0.8em;
    padding: 10px;
    color: white;
    height: 42px;
    cursor: pointer;
    -moz-transition: padding 0.7s;
    transition: padding 0.7s;
    z-index: 100;
}
.publish-button .glyphicon, .settings-button .glyphicon {
    margin-bottom: 3px;
    vertical-align: bottom;
}
.publish-button {
    background: #55B867;
    top: 111px;
}
.publish-button:after {
    content: " Publish";
    padding-left: 3px;
}
.publish-button.published:after {
    content: " Publish changes";
}
.publish-button:hover, .settings-button:hover {
    padding-left: 20px;
}
.settings-button {
    top: 153px;
    background: #999;
}
.settings-button:after {
    content: " Settings";
    padding-left: 3px;
}

/* MAIN AREA */
#content {
    min-height: 280px;
}
#content.empty:after {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi lorem, tristique quis sodales in, volutpat ut ligula. Nullam commodo aliquam magna, ut tristique elit accumsan iaculis. Cras augue magna, varius in nulla id, pharetra pellentesque metus. Duis et ullamcorper orci, vitae consequat nulla. Curabitur id metus eget ante euismod venenatis vel vitae mauris. Ut auctor velit non augue molestie, eu convallis mauris varius. Mauris id viverra est. Maecenas eu dignissim orci, in condimentum odio ...";
    opacity: 0.6;
    display: inline-block;
    margin-top: -1.45em;
    z-index: -2;
}
#main {
    margin-top: -5px !important;
}
#title {
    box-sizing: content-box;
}

/* MODALS */
.modal-sm .modal-body {
    font-size: 0.8em;
}

/* PRICE PICKER */
.price-picker-box {
    text-align: center;
    background: #f5f5f5;
    padding: 10px;
    margin: 10px 0;
    border: 1px dashed #aaa;
}
.price-label {
    display: inline-block;
    margin-right: 10px;
}
.price-picker-container {
    display: inline-block;
    text-align: left;
}
.price-picker {
    text-align: right;
}
